.#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.campus life-mainDiv
{
	border: 1px solid #c7c7c7; 
	padding-left: 0px; 
	padding-right: 0px;
	float: none
}
.campus life_mainDiv img
{
	width: 100%; 
}
.campus life_mainDiv hr
{ 
	width: 230px;
}
.campus life_mainDiv h5 , .campus life_mainDiv p 
{ 
	margin-left: 20px; 
}
.achievenments_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
achievenments_head i
{
float: right;
}

.achievenments_text span
{
color: #ff7700;
}
._li
{
	margin-top: 13px;
}
._li h4{
	border-bottom: 1 px solid white;
	padding:  8 px;
}
._li img{
	
	border-radius:  25 px;
}
._li p{
	margin-top: 10 px;
}